# Kaia Kairos 테스트넷 설정
# 이 파일을 .env.local로 복사하고 값을 입력하세요

NEXT_PUBLIC_RPC_URL=https://public-en-kairos.node.kaia.io
NEXT_PUBLIC_CHAIN_ID=1001

# 배포된 컨트랙트 주소 (2025-10-21 최종 배포 - MockVRF 포함)
NEXT_PUBLIC_CONTRACT_ADDRESS=0x2e7bb733b7813628a46130fa48b9f9cdda29e088
NEXT_PUBLIC_MOCK_VRF_ADDRESS=0xbb1ced5b060cc67af8c393844b1d3054afb90273

# Block Explorer
NEXT_PUBLIC_EXPLORER_URL=https://baobab.klaytnscope.com

# 관리자 지갑
NEXT_PUBLIC_OWNER_ADDRESS=0xe4885a25c43c8d6087f8d5a1162f9b869c08c98c

